* {
    background-color: white;
}

h1, h2 {
    color: black;
    font-weight: lighter;
}

.container {
    text-align: center;
}

.fb-login-btn {
    color: white;
    font-size: medium;
    font-weight: light;
    background-color: #4267B2;
    padding: 20px;
    border: 3px solid #ffffff;
    border-radius: 25px;
}

.fb-login-btn:hover{
    cursor: pointer;
}